# **Data Processing**

In [ ]:
# import the libraries
import pandas as pd

In [ ]:
# Read the CSV file
data = pd.read_csv('/content/question1_raw_data.csv')

In [ ]:
# Show the data table and list of column name
data
data.columns.tolist()

['Height (Inches)', 'Weight (Pounds)', 'Age', 'Grip strength', 'Frailty\xa0']

In [ ]:
# Rename the column to remove the extra space
data = data.rename(columns={'Height (Inches)':'Height_Inches',
                           'Weight (Pounds)':'Weight_Pounds',
                            'Age\xa0':'Age',
                            'Grip strength':'Grip_strength',
                            'Frailty\xa0':'Frailty'})
data

   Height_Inches  Weight_Pounds  Age  Grip_strength Frailty
0           65.8            112   30             30      N
1           71.5            136   19             31      N
2           69.4            153   45             29      N
3           68.2            142   22             28      Y
4           67.8            144   29             24      Y
5           68.7            123   50             26      N
6           69.8            141   51             22      Y
7           70.1            136   23             20      Y
8           67.9            112   17             19      N
9           66.8            120   39             31      N

In [ ]:
data.columns.tolist()

['Height_Inches', 'Weight_Pounds', 'Age', 'Grip_strength', 'Frailty']

In [ ]:
# Find the null values in the table
data.isnull().sum()

Height_Inches    0
Weight_Pounds    0
Age              0
Grip_strength    0
Frailty          0
dtype: int64

There is no null values in  the rows in the table so wee do not need to clear any row

In [ ]:
# write the clean data file
data.to_csv("/content/clean_data.csv")