# **Data Processing**

In [ ]:
# import the libraries
import pandas as pd

In [ ]:
# Read the CSV file
data = pd.read_csv('/content/StudentsPerformance.csv')

In [ ]:
# Show the data table and list of column name
data
data.columns.tolist()

['gender',
 'race/ethnicity',
 'parental level of education',
 'lunch',
 'test preparation course',
 'math score',
 'reading score',
 'writing score']

In [ ]:
# Rename the column to remove the extra space
data = data.rename(columns={'parental level of education':'parental_level_of_education',
                            'test preparation course':'test_preparation_course',
                           'math score':'math_score',
                            'reading score':'reading_score',
                            'writing score':'writing_score'})
data.head(10)

,gender,race/ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

In [ ]:
data.columns.tolist()

['gender',
 'race/ethnicity',
 'parental_level_of_education',
 'lunch',
 'test_preparation_course',
 'math_score',
 'reading_score',
 'writing_score']

In [ ]:
# Find the null values in the table
data.isnull().sum()

gender                         0
race/ethnicity                 0
parental_level_of_education    0
lunch                          0
test_preparation_course        0
math_score                     0
reading_score                  0
writing_score                  0
dtype: int64

There is no null values in the rows in the table so wee do not need to clear 
any row

In [ ]:
# write the clean data file
data.to_csv("/content/Q2_clean_data.csv")